/*стили для index.html*/

:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --tertiary-text-color: #2196f3;
  --quaternary-text-color: #ffffff;
  --title-text-color: #757575;
  --main-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --section-backgrond-color: #f5f4fa;
  --accent-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
}

/* цвет основого фона #FFFFFF; */
/* цвет фона героя и вутера #2F303A*/
/* цвет фона для секции нашей команды #F5F4FA*/

/* цвет №1 текста серый #757575*/
/* цвет №2 текста черный #212121 */
/* цвет №3 текста синий #2196F3 */
/* цвет №4 текста  белый #FFFFFF */

/* цвет текста в футере в адресе rgba(255, 255, 255, 0.6)*/

/* акцент для кнопки #2196F3 */

body {
  color: var(--primary-text-color);
  background-color: var(--main-background-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/*-----------Шапка------------*/

/* логотип */

.logo-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-word {
  color: var(--tertiary-text-color);
  font-family: raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

/* Site Navigation */

.header-nav .link.current {
  color: var(--tertiary-text-color);
}
.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

.header-link:hover,
.header-link:focus,
.header-contact:hover,
.header-contact:focus {
  color: var(--tertiary-text-color);
}

.header-item-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/* Contacts Navigation */
.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* Hero */
.hero {
  background-color: var(--secondary-background-color);
}

.hero-title {
  color: var(--quaternary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--quaternary-text-color);
  background-color: var(--tertiary-text-color);
  cursor: pointer;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/*Особенности*/

.feature-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.feature-list .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*team*/
.section-team {
  background-color: var(--section-backgrond-color);
}
.section-team .section-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
}
.section-team .section-team-work {
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}

.footer {
  background-color: var(--secondary-background-color);
  font-size: 14px;
  line-height: 1.71;
}

.logo-footer {
  font-family: raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--quaternary-text-color);
}
.address {
  font-style: normal;
}
.footer-location {
  color: var(--quaternary-text-color);
}
.link-address {
  color: var(--quaternary-text-color);
}
.contacts-mail {
  color: var(--footer-text-color);
}
.contacts-phone {
  color: var(--footer-text-color);
}

/*portfolio.html*/

.works {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
}

.works-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.section-works-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--secondary-text-color);
  cursor: pointer;
}

.section-works-button:hover,
.section-works-button:focus {
  background-color: var(--tertiary-text-color);
  color: var(--main-background-color);
}
